﻿@using Picking_Web.Models
@{
    ViewBag.Title = "CONFERÊNCIA";
    Layout = "~/Views/Shared/_CodigoBarras.cshtml";
    string ControllerName = "codigobarras";
    int empresa = ViewBag.empresa;
    string userid = ViewBag.userid;
}

<h2>@ViewBag.Title</h2>

<div class="row" style="margin-top: 30px;">
    <div class="col-xs-2">
        <label for="data">Data</label>
        <input type="text" class="form-control" id="data" disabled="disabled">
    </div>
    <div class="col-xs-3">
        <label for="operador">Operador</label>
        <select class="form-control" id="operador">
            <option value="">Selecione o Operador</option>
            @{
                var operadores = ViewBag.Operadores as IOrderedEnumerable<ApplicationUser>;
                foreach (var operador in operadores)
                {
                    <option value="@operador.Id">@operador.UserName</option>
                }
            }
        </select>
    </div>
    <div class="col-xs-2">
        <label for="numdoc">Nº Documento</label>
        <input type="text" class="form-control" id="numdoc" disabled="disabled">
    </div>
    <div class="col-xs-1">
        <label for="quantidade">Quantidade</label>
        <input type="number" class="form-control" id="quantidade" value="1" disabled="disabled">
    </div>
    <div class="col-xs-4">
        <label for="codigo_barras">Código de Barras</label>
        <input type="text" class="form-control" id="codigo_barras" style="max-width: none" disabled="disabled">
    </div>
</div>
<div class="row" style="margin-top: 20px; margin-left: 0px; margin-right: 0px;">
    <table id="itens_pedido" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Item</th>
                <th>Descrição</th>
                <th>Depósito</th>
                <th>Núm. de Série</th>
                <th>Cód. Barras Fabricante</th>
                <th id="lote">Núm. de Lote Interno</th>
                <th>Line</th>
                <th>Conferido</th>
                <th>Solicitado</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="row" style="margin-top: 30px;">
    <div class="col-xs-3">
        <button class="btn btn-success btn-block" type="submit" id="encerrar" data-loading-text="Aguarde...">Encerrar</button>
    </div>
    <div class="col-xs-3">
        <button class="btn btn-danger btn-block" type="submit" id="reset" data-loading-text="Aguarde..." data-toggle="tooltip" data-placement="top" title="Removerá conferência parcial se houver">Reset</button>
    </div>
    <div class="col-xs-3">
        <button class="btn btn-danger btn-block" type="submit" id="cancelar" data-loading-text="Aguarde...">Cancelar</button>
    </div>
</div>
@Html.Partial("EncerramentoConferencia")
@section scripts
{
    <script type="text/javascript">
        var DefaultApiPath = '@(Url.Action("", "api/" + ControllerName))';
        var audio = new Audio('@Url.Action("", "error.wav")');
        InitWS("@userid");
    </script>
    <script id="script_conferencia_codigo_barras" src="~/Scripts/Site/ConferenciaCodigoBarras.js" data-empresa="@empresa" data-numdoc="@ViewBag.numdoc" data-operador="@ViewBag.operador"></script>
}