﻿
@{
    ViewBag.Title = "Gestão de Etiquetas";
    Layout = "~/Views/Shared/_Administracao.cshtml";
    string ControllerName = "gestaoetiquetas";
    string userid = ViewBag.userid;
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Nova Gestao de Etiquetas", "Novo", "GestaoEtiquetas", null, new { @class = "btn btn-primary" })
</p>
<table id="gestao_etiquetas" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Identificação</th>
            <th>Empresa</th>
            <th>Usuário</th>
            <th>Impressora</th>
            <th>Deletar</th>
            <th>Testar</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    <script type="text/javascript">
        var DefaultApiPath = '@(Url.Action("", "api/" + ControllerName))';
        var DefaultPath = '@(Url.Action("", "" + ControllerName))';
    </script>
    <script type="text/javascript">
        $(document).ready(function() {

            var table = $("#gestao_etiquetas").DataTable({
                ajax: {
                    url: DefaultApiPath + "/getgestaoetiquetas",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id",
                        render: function (data, type, impressora) {
                            return "<a href='" + DefaultPath + "/editar/" + impressora.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "empresa.nome",
                    },
                    {
                        data: "user.userName"
                    },
                    {
                        data: "nomeImpressoraEtiqueta"
                    },
                    {
                        data: "id",
                        render: function (data, type, empresa) {
                            return "<button data-gestao-id='" +
                                data +
                                "' type='button' class='btn btn-danger js-delete'><span class='glyphicon glyphicon-trash'></span >&nbsp;</button>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, empresa) {
                            return "<button data-gestao-id='" +
                                data +
                                "' type='button' class='btn btn-primary js-teste'><span class='glyphicon glyphicon-ok'></span >&nbsp;</button>";
                        }
                    }
                ],
                "oLanguage": _DEFAULT_SCRIPT_LANG
            });

            $("#gestao_etiquetas").on("click", ".js-delete", function() {

                var button = $(this);

                bootbox.confirm("Deseja deletar esta gestão de etiquetas?", function(result) {

                    if (result) {
                        $.ajax({
                            url: DefaultApiPath + "/deletargestaoetiquetas/" + button.attr("data-gestao-id"),
                            method: "DELETE",
                            success: function() {
                                table.row(button.parents("tr")).remove().draw();
                                toastr.success("Gestão de etiqueta deletada com sucesso.");
                            },
                            error: _DEFAULT_ERROR_TREATMENT
                        });
                    }
                });
            });

            $("#gestao_etiquetas").on("click", ".js-teste", function () {

                var button = $(this);

                bootbox.confirm("Deseja testar a impressão?", function (result) {

                    if (result) {
                        $.ajax({
                            url: DefaultApiPath + "/testarimpressao/" + button.attr("data-gestao-id"),
                            method: "PUT",
                            success: function () {
                                toastr.success("Impressão realizada com sucesso.");
                            },
                            error: _DEFAULT_ERROR_TREATMENT
                        });
                    }
                });
            });
        });


        InitWS("@userid");
    </script>
}