﻿
@{
    ViewBag.Title = "SEPARAÇÃO";
    Layout = "~/Views/Shared/_Picking.cshtml";
    string ControllerName = "picking";
    int empresa = ViewBag.empresa;
    string userid = ViewBag.userid;
}

<div class="row">
    <div class="col-md-8">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-4" style="margin-top: 13px;">
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Pesquisar Pedido" id="campo_pesquisa">
            </div>
            <button type="submit" class="btn btn-primary" id="botao_pesquisa">OK</button>
        </form>
    </div>
</div>
<div class="container separador_tabelas">
    <h4>AGUARDANDO SEPARAÇÃO</h4>
    <table id="lista_picking_em_aberto" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Nº  Doc</th>
                <th>Prioridade</th>
                <th>Nome do Cliente</th>
                <th>Cidade Entrega</th>
                <th>Data de Entrega</th>
                <th>Vendedor</th>
                <th>Observações</th>
                <th>Gerar Lista Picking</th>
                @*<th>Gerar Lista</th>*@
                <th>Pendente</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="container separador_tabelas">
    <h4>AGUARDANDO SEPARAÇÃO FUTURA</h4>
    <table id="lista_picking_separacao_futura" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Nº  Doc</th>
                <th>Prioridade</th>
                <th>Nome do Cliente</th>
                <th>Cidade Entrega</th>
                <th>Data de Entrega</th>
                <th>Vendedor</th>
                <th>Observações</th>
                <th>Gerar Lista Picking</th>
                @*<th>Gerar Lista</th>*@
                <th>Pendente</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="container separador_tabelas">
    <h4>SEPARAÇÃO PENDENTE</h4>
    <table id="lista_picking_docs_pendentes" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Nº  Doc</th>
                <th>Prioridade</th>
                <th>Nome do Cliente</th>
                <th>Cidade Entrega</th>
                <th>Data de Entrega</th>
                <th>Vendedor</th>
                <th>Observações</th>
                <th>Gerar Lista Picking</th>
                @*<th>Gerar Lista</th>*@
                <th>Desimpedir</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="container separador_tabelas">
    <h4>TRANSFERÊNCIAS E ORDENS DE PRODUÇÕES</h4>
    <table id="lista_picking_transferencias" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Nº  Doc</th>
                <th>Prioridade</th>
                <th>Nome do Cliente</th>
                <th>Cidade Entrega</th>
                <th>Data de Entrega</th>
                <th>Vendedor</th>
                <th>Observações</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@Html.Partial("DetalheListaPickingParcial")
@Html.Partial("DetalheListaPicking")
<input type="hidden" value="@ViewBag.NomeImpressora" id="nome_impressora" />
@section scripts
{
    <script type="text/javascript">
        var DefaultApiPath = '@(Url.Action("", "api/" + ControllerName))';
        InitWS("@userid");
    </script>
    <script id="script_lista_picking" src="~/Scripts/Site/ListaPicking.js" data-empresa="@empresa"></script>
}
