﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: solid 2px red;
}

.separador_tabelas {
    margin-top: 20px;
}

.item-prioritario {
    color: red;
    font-weight: 600;
    font-size: 17px;
}

.td-button {
    text-align: center;
}

.td-center {
    text-align: center;
}

.linha-campos-form {
    margin-top: 40px;
}