﻿@using Picking_Web.Models
@{
    ViewBag.Title = "Início";
    string userid = ViewBag.userid;
}
<h2>Selecione a operação</h2>

<div class="row" style="margin-top:70px">

    @if (User.IsInRole(Privilegios.PodeGerenciarAdmin))
    {
        <div class="col-md-3">
            <a href="@Url.Action("Index",Privilegios.PodeGerenciarAdminCONTROLLER)">
                <div class="panel panel-default">
                    <div class="panel-heading">ÁREA ADMINISTRATIVA</div>
                    <div class="panel-body">
                        <img src="~/Imagens/admin.png" height="200" />
                    </div>
                </div>
            </a>
        </div>
    }

    @if (User.IsInRole(Privilegios.PodeGerenciarListaPicking))
    {
        <div class="col-md-3">
            <a href="@Url.Action("Index",Privilegios.PodeGerenciarListaPickingCONTROLLER)">
                <div class="panel panel-default">
                    <div class="panel-heading">SEPARAÇÃO</div>
                    <div class="panel-body">
                        <img src="~/Imagens/picking.png" height="200" />
                    </div>
                </div>
            </a>
        </div>
    }

    @if (User.IsInRole(Privilegios.PodeConferirCodigoBarras))
    {
        <div class="col-md-3">
            <a href="@Url.Action("Index",Privilegios.PodeConferirCodigoBarrasCONTROLLER)">
                <div class="panel panel-default">
                    <div class="panel-heading">CONFERÊNCIA</div>
                    <div class="panel-body">
                        <img src="~/Imagens/barcode.png" height="200" />
                    </div>
                </div>
            </a>
        </div>
    }


    @if (User.IsInRole(Privilegios.PodeGerenciarEtiqueta))
    {
        <div class="col-md-3">
            <a href="@Url.Action("Index",Privilegios.PodeGerenciarEtiquetaCONTROLLER)">
                <div class="panel panel-default">
                    <div class="panel-heading">EMBALAGEM</div>
                    <div class="panel-body">
                        <img src="~/Imagens/etiqueta.png" height="200" />
                    </div>
                </div>
            </a>
        </div>
    }


    @if (User.IsInRole(Privilegios.PodeGerenciarRecebimento))
    {
        <div class="col-md-3">
            <a href="@Url.Action("Index",Privilegios.PodeGerenciarRecebimentoCONTROLLER)">
                <div class="panel panel-default">
                    <div class="panel-heading">RECEBIMENTO</div>
                    <div class="panel-body">
                        <img src="~/Imagens/recebimento.png" height="200" />
                    </div>
                </div>
            </a>
        </div>
    }
    @if (User.IsInRole(Privilegios.PodeGerenciarDocumentos))
    {
        <div class="col-md-3">
            <a href="@Url.Action("Index",Privilegios.PodeGerenciarDocumentosCONTROLLER)">
                <div class="panel panel-default">
                    <div class="panel-heading">DOCUMENTOS</div>
                    <div class="panel-body">
                        <img src="~/Imagens/documentos.png" height="200" />
                    </div>
                </div>
            </a>
        </div>
    }
    @if (User.IsInRole(Privilegios.PodeGerenciarBaixa))
    {
        <div class="col-md-3">
            <a href="@Url.Action("Index", Privilegios.PodeGerenciarBaixaCONTROLLER)">
                <div class="panel panel-default">
                    <div class="panel-heading">Baixa</div>
                    <div class="panel-body">
                        <img src="~/Imagens/Baixa.png" height="200" />
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
    
@section scripts
{
    <script type="text/javascript">
        InitWS("@userid");
    </script>
}